<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>41733-removebg-preview_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,134},{216,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{216,150}}</string>
				<key>sourceSize</key>
				<string>{216,150}</string>
			</dict>

			<key>41733-removebg-preview_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,285},{149,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{149,215}}</string>
				<key>sourceSize</key>
				<string>{149,215}</string>
			</dict>

			<key>41733-removebg-preview_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{150,285},{130,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,196}}</string>
				<key>sourceSize</key>
				<string>{130,196}</string>
			</dict>

			<key>41733-removebg-preview_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{246,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{246,133}}</string>
				<key>sourceSize</key>
				<string>{246,133}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{512,512}</string>
			<key>textureFileName</key>
			<string>ship.png</string>
			</dict>
		</dict>
</plist>