<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Explosion_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1303,270},{156,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{198,208},{156,136}}</string>
				<key>sourceSize</key>
				<string>{550,550}</string>
			</dict>

			<key>Explosion_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,499},{521,483}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{15,34},{521,483}}</string>
				<key>sourceSize</key>
				<string>{550,550}</string>
			</dict>

			<key>Explosion_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1212,768},{194,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{179,186},{194,180}}</string>
				<key>sourceSize</key>
				<string>{550,550}</string>
			</dict>

			<key>Explosion_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{975,768},{236,234}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{156,172},{236,234}}</string>
				<key>sourceSize</key>
				<string>{550,550}</string>
			</dict>

			<key>Explosion_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1303,0},{275,269}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{138,141},{275,269}}</string>
				<key>sourceSize</key>
				<string>{550,550}</string>
			</dict>

			<key>Explosion_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{991,0},{311,284}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{120,134},{311,284}}</string>
				<key>sourceSize</key>
				<string>{550,550}</string>
			</dict>

			<key>Explosion_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{975,417},{402,350}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{75,113},{402,350}}</string>
				<key>sourceSize</key>
				<string>{550,550}</string>
			</dict>

			<key>Explosion_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{546,0},{444,416}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{48,79},{444,416}}</string>
				<key>sourceSize</key>
				<string>{550,550}</string>
			</dict>

			<key>Explosion_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{522,499},{452,460}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{29,56},{452,460}}</string>
				<key>sourceSize</key>
				<string>{550,550}</string>
			</dict>

			<key>Explosion_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{545,498}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,27},{545,498}}</string>
				<key>sourceSize</key>
				<string>{550,550}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,1024}</string>
			<key>textureFileName</key>
			<string>ship_explosion.png</string>
			</dict>
		</dict>
</plist>